 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 20px;
}

p {
    text-align: left;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

 /* UTILS */


:root {
    --padding: 10px;
}

button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: #0a60ff;
    border: none;
}

.container {
    width: 1080px;
    margin: 100px auto;
    padding:10px 10px;
}

.column {
    width: calc(100% / 3 - 20px);
    border: 1px solid black;

        /* debug */
    background-color: white;
    min-height: 900px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-button {
    width: 100px;
    margin: 0;
}

/* MAIN */

/* JUMBOTRON */

.jumbo {
    background-color: #b4d0e7;
}

.jumbofooter-container {
    width: 1250px;
    margin: 0 auto;
    padding: 40px 10px;
}

.jumbocontent {
    display: flex;
    padding-top: inherit;
}

.jumbotext {
    width: 30%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumboimg {
    position: relative;
    top: 100px;
}


/* COLUMN SECTION */
.business-plan > .check {
    margin: 40px 0;
}

.business-plan .fatturazione {
    margin-right: 4rem;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--padding);
}

.column-title {
    text-align: center;
    padding: var(--padding);
    border-bottom: 1px solid black;
}

.column-wrapper .column-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    padding: 20px;
}

span.info {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

#contact {
    margin: 1.8rem 0;
}

.column span { 
    padding: 5px 0;
}

.column button {
    align-self: center;
    margin: 20px 0;
}

.column a {
    text-decoration: underline;
    color: #5330f0;
    padding: 0;
}

.column hr {
    width: 50px;
    color: #f9f8f8;
    margin: 40px 0;
}

.column h4 {
    margin: 20px 0;
}

.icon {
    color: #0763ff;
}

.orizontal-column {
    width: 100%;
    margin: 28px 0;
    border: 1px solid black;
}

.business-plan .orizontal-content {
    display: flex;
    padding: var(--padding);
}

.business-plan .left-content {
    width: 70%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.business-plan .right-content {
    flex-grow: 1;
    text-align: end;
    padding-top: 15px;
}

/* img-session */

.img-session {
    display: flex;
}

.img-session .img {
    width: 60%;
}

.img-session .text {
    padding: 50px 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.img-session a {
    padding: 10px;
    border: 1px solid black;
}

/* card-session */

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px;
}

.card-wrapper .card {
    min-height: 450px;
    width: calc(100% / 3 - 70px);
}


.card .bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

/* pre tile session */

.dropbox-teams {
    min-height: 250px;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropbox-teams a {
    padding: 0;
    text-decoration: underline;
    color: #5330f0;
}

/* tile session */

.tile-session {
    display: flex;
}

.tile-session .tile {
    width: calc(100% / 3);
    height: calc(100vw / 3);

    /* debug */
    background-color: #b4d0e7;
}

.tile.tile-left {
    display: flex;
    flex-wrap: wrap;
}

.tile-left > div {
    width: 50%;

    /* debug */
    background-color: white;
}

.tile-card#card1 {
    background-image: url(../);
}